/** COMBINATORS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.kutu p {
    color: red;
}

.kutu > p {
    color: green;
}
h3{
    margin: 2rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid red;
    outline: 2px solid purple;
    outline-offset: 10px;
    border-radius: 50%;
}